*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(151, 195, 238);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 57, 57);   
    max-width: 900px;
    margin: 0 auto 0 auto;
    padding: 10px;
}
section{
    border: 1px solid red;
}
a{
    text-decoration: none;
    color: rgb(44, 150, 192);
}
a:hover{
    text-decoration: none;
    color: rgb(44, 150, 192);
}
a:visited{
    text-decoration: none;
    color: rgb(44, 150, 192);
}
.flex-item{
    max-width: 900px;
    margin: 30px auto auto auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.itens{
    display: flex;
    flex-direction: column;
    margin:15px;
    justify-content: space-between;
    align-items: center;
}
.itens h2{
    font-size: 20px;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
}
img{
    width: 200px;
    border-radius: 20%;
}
div.flex-container{
    background-color: white;
}